@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
/* font-family: 'Space Grotesk', sans-serif; */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: -30px;
  font-family: var(--fontfamily);
}
.attribution {
  font-size: 15px;
  text-align: center;
  margin-top: 48%;
  margin-left: -33%;
}
:root {
  --h1: #000000;
  --White: hsl(0, 0%, 100%);
  --Lightviolet: hsl(270, 3%, 87%);
  --Darkviolet: hsl(279, 6%, 55%);
  --Verydarkviolet: hsl(278, 68%, 11%);
  --fontfamily: "Space Grotesk", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(0, 0%, 100%);
  overflow-y: hidden;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
#mainbg {
  background-image: url(./images/bg-main-desktop.png);
  height: 100%;
  width: 100%;
  display: inline-block;
  position: absolute;
  background-repeat: no-repeat;
  z-index: calc(-1);
}
#container {
  display: flex;
}
#cardimages {
  position: absolute;
  margin-top: 9%;
  margin-left: 172px;
  z-index: 2;
}
#cardback {
  margin-left: 90px;
  margin-top: 25px;
}
#whitecircle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  display: block;
  position: absolute;
  margin-top: -228px;
  margin-left: 25px;
}
#emptycircle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: none;
  border: 1px solid var(--White);
  display: block;
  position: absolute;
  margin-top: -218px;
  margin-left: 6rem;
}
#defaultcardnum {
  margin-left: 33px;
  font-size: 25px;
  color: var(--White);
  position: absolute;
  margin-top: -115px;
  font-family: var(--fontfamily);
  letter-spacing: 5px;
}

#cardname {
  margin-left: 26px;
  font-size: 17px;
  color: var(--White);
  position: absolute;
  margin-top: -50px;
  font-family: var(--fontfamily);
  letter-spacing: 1px;
}
#cardexp {
  margin-left: 22.3rem;
  font-size: 17px;
  color: var(--White);
  position: absolute;
  margin-top: -50px;
  font-family: var(--fontfamily);
  letter-spacing: 1px;
}
#cardbacknum {
  margin-left: 22.4rem;
  font-size: 16px;
  color: var(--White);
  position: absolute;
  margin-top: -140px;
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: 1px;
}
#right {
  margin-left: 62.6%;
  margin-top: 14%;
}
.carddetailstext {
  justify-content: center;
  color: var(--Verydarkviolet);
  font-family: var(--fontfamily);
  font-size: 18px;
  margin-top: -6px;
  height: 30px;
  width: 95%;
  border: 2px solid var(--Lightviolet);
  border-radius: 5px;
  padding: 6px;
  margin-bottom: 17px;
  text-transform: capitalize;
}

#cardinputdetail {
  display: flex;
  font-family: var(--fontfamily);
}
#cardexpdate {
  display: flex;
  font-family: var(--fontfamily);
}
#cardexpdate input {
  font-family: var(--fontfamily);
  width: 46px;
  margin-right: 10px;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
.inputheading {
  letter-spacing: 1.1px;
  color: var(--Verydarkviolet);
  font-family: "Space Grotesk", sans-serif;
  font-size: 15px;
  margin-top: 5px;
  height: 36px;

  text-transform: uppercase;
}

#carddetailsinput {
  display: flex;
  flex-direction: row;
}
.cvcttl {
  margin-left: 29px;
  font-family: var(--fontfamily);
}
.cvcinput {
  margin-left: 40px;
  font-family: var(--fontfamily);
  width: 180px;
}

#btn {
  padding: 10px;
  width: 26%;
  height: 50px;
  margin-top: 35.3%;
  border: none;
  border-radius: 6px;
  color: var(--White);
  background-color: var(--Verydarkviolet);
  font-family: var(--fontfamily);
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-left: 62%;
  position: absolute;
}
#btn:hover {
  background-color: var(--Darkviolet);
  color: var(--Verydarkviolet);
}

/* errors */
#nameerror,
#cardnumerror,
#cardnumblankerror {
  position: absolute;
  color: red;
  font-family: var(--fontfamily);
  margin-left: 16%;
  margin-top: 43px;
  display: none;
}
#mmyyerror {
  position: absolute;
  color: red;
  font-family: var(--fontfamily);
  margin-left: 0%;
  margin-top: 46px;
  font-size: 12px;
  display: none;
}
#cvcerror {
  position: absolute;
  color: red;
  font-family: var(--fontfamily);
  margin-left: 10%;
  margin-top: -10px;
  display: none;
  font-size: 12px;
}

#check {
  width: 85px;
  height: 85px;
  margin-left:70.5%;
  margin-top: 16%;
  display: none;
  position: absolute;
}
#thankyou-card {
  display: flex;
  font-family: var(--fontfamily);
  color: var(--Verydarkviolet);
  flex-direction: column;
  font-size: 30px;
  margin-top: 23.5%;
  text-align: center;
  margin-left: 64.4%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
  display: none;
  position: absolute;
}
#thankyoumsg {
  font-family: var(--Darkviolet);
  color: var(--Darkviolet);
  font-size: 16px;
  margin-top: 30px;
  text-transform: none;
  font-weight: initial;
}

/*PhoneCSS*/

@media screen and (max-width: 600px) {
  body{overflow-x: hidden;}
  #mainbg {
    background-image: url(./images/bg-main-mobile.png);
    height: 100%;
    width: 100%;
    display: block;
    background-repeat: repeat-x;
  }

  #cardimages {
    position: absolute;
    margin-top: 9%;
    margin-left: 160px;
    z-index: 2;
    display: flex;
    flex-direction: column-reverse;
  }
  #cardback img {
    width: 305px;
    margin-left: -185px;
    margin-top: -23px;
  }

  #cardbacknum {
    margin-left: 3.6rem;
    font-size: 13px;
    position: absolute;
    margin-top: -97px;
  }

  #cardfront img {
    width: 305px;
    margin-left: -141px;
    margin-top: -76px;
  }
  #cardexp {
    margin-left: 5.3rem;
    font-size: 15px;
    position: absolute;
    margin-top: -44px;
    font-family: var(--fontfamily);
  }
  #cardname {
    margin-left: -128px;
    font-size: 15px;
    position: absolute;
    margin-top: -45px;
  }
  #defaultcardnum {
    margin-left: -130px;
    font-size: 16px;
    position: absolute;
    margin-top: -97px;
  }
  #whitecircle {
    height: 35px;
    width: 35px;
    margin-top: -75%;
    margin-left: -134px;
  }
  #emptycircle {
    height: 16px;
    width: 16px;
    margin-top: -71%;
    margin-left: -5.6rem;
  }

  #right {
    margin-left: 9.6%;
    margin-top: 89%;
  }
  .cvcinput {
    margin-left: 40px;
    width: 106px;
  }

  .attribution {
    font-size: 12px;
    margin-top: 206%;
    margin-left: -77%;
  }
  .attribution a {
    text-decoration-line: none;
    color: var(--Verydarkviolet);
  }
  #nameerror,
  #cardnumerror,
  #cardnumblankerror {
    margin-left: 52%;
  }
  .inputheading {
    margin-top: 9px;
    height: 36px;
  }

  #thankyou-card {
    margin-top: 129.5%;

    margin-left: 58px;
    display: none;
  }

  #check {
    margin-left: 38%;
    margin-top: 92%;
    display: none;
  
  }

  #btn {
    margin-left: 9%;
    position: absolute;
    width: 80%;
    margin-top: 175%;
  }

  .attribution {
    font-size: 12px;
    text-align: center;
    margin-top: 206%;
    margin-left: 7%;
    position: absolute;
  }
}
